---
import Layout from "../../layouts/Page.astro";

import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const postsByYear = posts.reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});
---

<Layout title="Blog" description="Blog posts about software engineering, technology, and more.">
  <main>
    <article class="archive">
      <ul>
        {
          Object.keys(postsByYear)
            .reverse()
            .map(year => (
              <li class="archive-item">
                <h2>{year}</h2>
                <ul>
                  {postsByYear[year].map(post => (
                    <li class="archive-item">
                      <FormattedDate date={post.data.pubDate} />
                      <a href={`/blog/${post.id}/`}>{post.data.title}</a>
                      {post.data.tags && post.data.tags.length > 0 && (
                        post.data.tags.map((tag) => (
                          <a href={`/blog/tags/${tag}/`} class="tag is-dark ml-1" style="font-size: 0.7rem; padding: 0.2em 0.5em; height: auto;">{tag}</a>
                        ))
                      )}
                      {post.data.description && (
                        <p class="has-text-grey is-size-7 mb-0">{post.data.description}</p>
                      )}
                    </li>
                  ))}
                </ul>
              </li>
            ))
        }
      </ul>
    </article>
  </main>
</Layout>
